<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chirp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="javascript/chirpApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="chirpApp">
    <div id="main" class="container" ng-controller="authController">
      <form class="form-auth" ng-submit="register()">
        <h2>Register</h2>
        <p class="text-warning">
          {{errorMessage}}
        </p>
        <input type="username" ng-model="user.username" class="form-control" placeholder="Username"></br>
        <input type="password" ng-model="user.password" class="form-control" placeholder="Password"></br>
        <input type="submit" value="Register" class="btn btn-primary"></br>
      </form>
    </div>
  </body>
</html>
